<button class="back-button" (click)="backToHome()">Back to the list</button>

<div class="new-item">
  <div class="checkbox-and-label">
    <input class="name-checkbox" type="checkbox" [(ngModel)]="toDoItem.done" (ngModelChange)="onFormChange()"/>
    <input class="search-input" type="text" [(ngModel)]="toDoItem.description" (ngModelChange)="onFormChange()"/>
  </div>
  <div class="star-icon">
    <input class="star" type="checkbox" [(ngModel)]="toDoItem.favorite" (ngModelChange)="onFormChange()">
  </div>
</div>

<div class="final-line">
  <button class="delete-button" (click)="onClickDelete()">Delete</button>
  <div class="created-date">Created on {{ toDoItem.createdTime }}</div>
  <button class="save-button"(click)="onClickSave()">
    <app-loader *ngIf="loading" [size]="6" [boderSize]="4"></app-loader>
    <span>Save</span>
  </button>
</div>