.filter-area{
    display: flex;
    margin: 10px;
    .sort-by-description{
        flex:1;
        text-align: center;
        padding:5px 0px;
        border:2px solid rgb(11, 129, 69);
        background-color: rgb(176, 223, 127);

    }
    .sort-by-created-time{
        flex:1;
        text-align: center;
        padding:5px 0px;
        border:2px solid rgb(11, 129, 69);
        background-color: rgb(176, 223, 127);

    }
    .hide-done{
        flex:1;
        text-align: center;
        padding:5px 0px;
        border:2px solid rgb(11, 129, 69);
        background-color: rgb(176, 223, 127);

    }

}