<!-- 
<app-reloadable-area [loading]="loading" [size]="60">
  <app-to-do-item-list 
[displayItems]="displayItems"     
(itemSelected)="onClickLabelHandler($event)"
(itemChanged)="onClickCheckBoxHandler($event)"
>
</app-to-do-item-list>
</app-reloadable-area>-->

<section class="todoapp">
  <app-top-bar
    (newItemDescription)="handleNewDescriptionValue($event)"
  ></app-top-bar>
  <section class="main" *ngIf="displayItems.length != 0">
    <app-to-do-item-list
      [displayItems]="displayItems"
      (itemChanged)="itemChangeHandler($event)"
      (itemDeleted)="itemDeletedHandler($event)"
    ></app-to-do-item-list>
  </section>
  <app-footer
    (filterOption)="applySort()"
    (clearCompleted)="clearCompleted()"
    [numItemsLeft]="getNumItemsLeft()"
    [existCompleted]="existCompleted()"
  ></app-footer>
</section>
<app-info></app-info>


