<li [ngClass]="{'completed': toDoItem.done, 'editing': isEditing}">
  <div class="view">
    <input class="toggle" type="checkbox" [(ngModel)]="toDoItem.done" (click)="onClickCheckBox()">
    <label (dblclick)="enableEditing()">{{ toDoItem.description }}</label>
    <button class="destroy" (click)="onClickDelete()"></button>
  </div>
  <input class="edit" 
  *ngIf="isEditing" 
  [(ngModel)]="description" 
  (blur)="onBlur()" 
  (keydown.enter)="onEnter()"
  placeholder="{{ toDoItem.description }}"
  >
</li>


